{% extends 'base.html' %}

{% block title %}{{ video_title }}{% endblock title %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.12/mediaelementplayer.min.css" integrity="sha512-RZKnkU75qu9jzuyC+OJGffPEsJKQa7oNARCA6/8hYsHk2sd7Sj89tUCWZ+mV4uAaUbuzay7xFZhq7RkKFtP4Dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock css %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.12/mediaelement-and-player.min.js" integrity="sha512-3NbEGcWTAi5qE7PRzBryRB26VHID/vj+MYxaSvwMLqRZidfwIh6AibZb1yLeoiwvGOqCSsE7C3iGYtC6IXo3Vg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{{ url_for('static', filename='js/subtitles-octopus.js') }}"></script>
{% endblock js %}

{% if exist != 0 %}
{% block header %}
{% include "navbar.html" %}
{% endblock header %}
{% endif %}

{% block content %}
<div class="container border p-4 mx-auto mt-3">
    {% with messages = get_flashed_messages(with_categories=true) %} 
        {% if messages %} 
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show">{{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {% if not completed %}
                <button type="button" class="btn btn-danger">
                  <a href="{{url_for('preview.cancel_process')}}">Batalkan</a>
                </button>
                {% endif %}
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% if exist and completed %}
    <h3 class="row m-auto pb-3">
        {{ video_title }}
    </h3>
    <div class="row m-auto">
        <div class="embed-responsive embed-responsive-{{aspect_ratio[0]}}by{{aspect_ratio[1]}} col-lg-10">
            <video class="embed-responsive-item" style="height:100%;width:100%;" width="{{ width }}" height="{{ height }}" controls="controls" preload="none">
                <source type"video/{{ extension }}" src="{{ url_for('static', filename=video_path) }}">
                <track src="{{ url_for('static', filename=preprocessed_subtitle_path) }}" srclang="en" label="Default" kind="subtitles" id="default_sub" type="application/x-ass">
                <track src="{{ url_for('static', filename=positioned_subtitle_path) }}" srclang="id" label="Positioned" kind="subtitles" id="positioned_sub" type="application/x-ass">
            </video>
        </div>
        <div class="col-lg-2">
            <a href="{{ url_for('preview.delete_file', url_path=url_path) }}" class="btn btn-outline-danger my-2 ml-2 col-sm-4 col-lg-auto row-lg" id="deleteFileBtn">Hapus Video dan Subtitle</a>
            <a href="{{ url_for('preview.download_positioned_subtitle', url_path=url_path) }}" class="btn btn-outline-success my-2 mx-2 col-sm-4 col-lg-auto row-lg" id="downloadSubBtn">Download Subtitle</a>
            <button type="button" class="btn btn-outline-info m-2 mr-2 col-sm-4 col-lg-auto row-lg" data-toggle="modal" id="showEditFormBtn">Edit Subtitle</button>

            <div class="modal fade" id="editFormModal" data-backdrop="static" data-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <form id="editForm" method="post" action="{{ url_for('preview.process_subtitle_edit', url_path=url_path)}}">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Edit Subtitle</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group row">
                                    <label class="col" for="objectDetection">Object yang dihindari:</label>
                                    <div class="col">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="objectFace" name="objectDetection" value="0">
                                            <label class="custom-control-label" for="objectFace">Wajah</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="objectText" name="objectDetection" value="1">
                                            <label class="custom-control-label" for="objectText">Text</label>
                                        </div>
                                    </div>
                                </div>
            
                                <div class="form-group row">
                                    <label class="col" for="subtitlePosition">Posisi Subtitle:</label>
                                    <div class="col">
                                        <select class="custom-select" name="subtitlePosition" id="subtitlePosition">
                                            <option value="0">Tengah Atas</option>
                                            <option value="1" selected>Tengah Bawah</option>
                                        </select>
                                    </div>
                                </div>
            
                                <div class="form-group row">
                                    <label class="col" for="fontColor">Warna Font (Kode Hex):</label>
                                    <div class="col">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">#</span>
                                            </div>
                                            <input class="form-control col-9" type="text" name="fontColorText" id="fontColorText" value="ffffff">
                                            <input class="form-control col-3" type="color" name="fontColor" id="fontColor" value="#ffffff">
                                        </div>
                                    </div>
                                </div>
            
                                <div class="form-group row">
                                    <label class="col" for="transparency">Transparansi Background:</label>
                                    <div class="col input-group">
                                        <input class="form-control" type="number" name="transparency" id="transparency" min="0" max="100" value="100">
                                        <div class="input-group-append">
                                            <label class="input-group-text">%</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
</div>
{% endblock content %}

{% block script %}
{% if exist != 0 %}
<script>
    mejs.i18n.language('en');

    $('video').mediaelementplayer({
        success: function (player, node) {
            var video = node;
            player.addEventListener('captionschange', function(e) {
                console.log('Charging Track ' + e.detail.caption);
                if (e.detail.caption !== null) {
                    if (window.octopusInstance) {
                        window.octopusInstance.setTrackByUrl(e.detail.caption.src);
                    } else if (SubtitlesOctopus) {
                        var options = {
                            video: video,
                            subUrl: e.detail.caption.src,
                            fonts: ['{{ url_for ("static", filename="fonts/Arial.woff2")}}', '{{ url_for ("static", filename="fonts/SourceSansPro-SemiBold.woff2")}}' ],
                            //onReady: onReadyFunction,
                            debug: true,
                            workerUrl: "{{ url_for('static', filename='js/subtitles-octopus-worker.js') }}",
                            legacyWorkerUrl: "{{ url_for('static', filename='js/subtitles-octopus-worker-legacy.js') }}"
                        };
                        window.octopusInstance = new SubtitlesOctopus(options);
                    }
                } else {
                    if (SubtitlesOctopus || window.octopusInstance) {
                        console.log('Disable Track ' + e.detail.caption);
                        window.octopusInstance.freeTrack();
                    }
                }
            });

            $(player).closest('.mejs__container').attr('lang', mejs.i18n.language());
            $('html').attr('lang', mejs.i18n.language());
        }
    });

    function isHexColor(value) {
        return /^#[0-9A-Fa-f]{6}$/i.test(value);
    }

    $(document).ready(function() {
        $("#showEditFormBtn").click(function() {
            event.preventDefault();
            $.ajax({
                type: "GET",
                url: "{{ url_for('preview.get_subtitle_data', url_path=url_path) }}",
                success: function(response){
                    console.log(response)
                    var objectDetection = response.object;
                    var subtitlePosition = response.position;
                    var fontColor = response.color;
                    var transparency = response.transparency;

                    $('input[type="checkbox"][name="objectDetection"]').each(function(){
                        $(this).prop('checked', false);
                    })
                    $('input[type="checkbox"][name="objectDetection"]').each(function() {
                        var checkbox = $(this);
                        $.each(objectDetection, function(index, val){
                            if (parseInt(checkbox.val()) == val) {
                                checkbox.prop('checked', true);
                            }
                        })
                    });
                    $("#subtitlePosition").val(subtitlePosition);
                    $("#fontColor").val(fontColor);
                    $("#fontColorText").val(fontColor.replace("#", ""));
                    $("#transparency").val(transparency);
                    $("#editFormModal").modal('show');
                }
            })
        });

        $("#fontColor").change(function() {
            var selectedColor = $("#fontColor").val();
            $("#fontColorText").val(selectedColor.replace("#", ""));
        });

        $("#fontColorText").on("input", function() {
            var hexValue = "#" +  $(this).val();
            if (!isHexColor(hexValue)) {
                hexValue = "#ffffff";
            }
            $("#fontColor").val(hexValue);
        });
    });
</script>
{% endif %}
{% endblock script %}