{% extends "base.html" %}
{% block title %}Upload File{% endblock title %}

{% block header %}
<h1>Penempatan Subtitle Otomatis</h1>
{% endblock header %}

{% block content %}
<div>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    <form action="/upload" method="post" enctype="multipart/form-data">
        <fieldset>
            <legend>Upload File</legend>
            <label for="video">Upload Video (MP4/MKV):</label>
            <input type="file" name="video" accept=".mp4, .mkv" required>
            <br><br>

            <label for="subtitle">Upload Subtitle (SRT/ASS/SRV3):</label>
            <input type="file" name="subtitle" accept=".srt, .ass, .srv3" required>
            <br><br>

            <label for="model">Pilih Model YOLO:</label>
            <input type="radio" name="model" value="yolov7" id="yolov7" required>
            <label for="yolov7">YOLOv7</label>
            <input type="radio" name="model" value="yolov7-tiny" id="yolov7-tiny" required>
            <label for="yolov7-tiny">YOLOv7-Tiny</label>
            <br><br>

            <fieldset>
                <legend>Opsi Lanjutan:</legend>

                <label for="objectDetection">Pendeteksian Object:</label>
                <select name="objectDetection" id="objectDetection">
                    <option value="0">Wajah</option>
                    <option value="1">Text</option>
                    <option value="0,1" selected>Wajah dan Text</option>
                </select><br>

                <label for="subtitlePosition">Posisi Subtitle:</label>
                <select name="subtitlePosition" id="subtitlePosition">
                    <option value="1">Tengah Atas</option>
                    <option value="1" selected>Tengah Bawah</option>
                </select><br>

                <label for="fontColor">Warna Font (Kode Hex):</label>
                <input type="text" name="fontColorText" id="fontColorText" value="#ffffff">
                <input type="color" name="fontColor" id="fontColor" value="#ffffff"><br>

                <label for="transparency">Transparansi Background (%):</label>
                <input type="number" name="transparency" id="transparency" min="0" max="100" value="100"><br>
            </fieldset>

            <input type="submit" value="Upload">
        </fieldset>
    </form>
</div>
{% endblock content %}

{% block script %}
<script>
    $(document).ready(function() {
        updateTextValue();
        updateColorValue();
    });
    function isHexColor(value) {
        return /^#[0-9A-Fa-f]{6}$/i.test(value);
    }
    $("#fontColor").change(function() {
        var selectedColor = $("#fontColor").val();
        $("#fontColorText").val(selectedColor);
    });
    $("#fontColorText").on("input", function() {
        var hexValue = $(this).val();
        if (!isHexColor(hexValue)) {
            hexValue = "#ffffff";
        }
        $("#fontColor").val(hexValue);
    });
</script>
{% endblock script %}