{% extends "base.html" %}
{% block title %}Upload File{% endblock title %}

{% block header %}
{% set active_item = active_item|default('upload') %}
{% include "navbar.html" %}
{% endblock header %}


{% block content %}
<div class="container">
    <div class="border p-4 mx-auto mt-3">
        <h3>Unggah Berkas</h3>
        {% with messages = get_flashed_messages(with_categories=true) %} 
            {% if messages %} 
                {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <hr>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <div class="form-group row">
                <div class="col-md mt-2">
                    <label for="video">Video</label>
                    <br>
                    <div class="custom-file">
                        <input class="custom-file-input" type="file" name="video" accept=".mp4, .mkv, .webm" required>
                        <label class="custom-file-label" for="video">Pilih berkas video</label>
                    </div>
                    <small class="form-text text-muted">Format file yang dapat diproses MP4 atau MKV</small>
                    <small class="form-text text-muted">Catatan: maksimum ukuran file 100MB</small>
                </div>
                <div class="col-md mt-2">
                    <label for="subtitle">Subtitle</label>
                    <br>
                    <div class="custom-file">
                        <input class="custom-file-input" type="file" name="subtitle" accept=".srt, .ass, .srv3, .vtt" required>
                        <label class="custom-file-label" for="video">Pilih berkas subtitle</label>
                    </div>
                    <small class="form-text text-muted">Format file yang dapat diproses SRT, ASS, SRV3, dan VTT</small>
                    <small class="form-text text-muted">Catatan: Gunakan format subtitle SRV3 jikaa subtitle diambil dari Youtube</small>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-auto">
                    <label for="model">Model Pendeteksian Objek:</label>
                </div>
                <div class="col-md-auto">
                    <div class="custom-control custom-radio">
                        <input class="custom-control-input" type="radio" name="model" value="yolov7" id="yolov7" required>
                        <label class="custom-control-label" for="yolov7">YOLOv7 
                          <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Proses lebih lambat namun akurasi pendeteksian lebih akurat">
                            <button class="btn rounded-circle py-0 px-2" style="pointer-events: none;" type="button" disabled>?</button>
                          </span>
                        </label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input class="custom-control-input" type="radio" name="model" value="yolov7-tiny" id="yolov7-tiny" required>
                        <label class="custom-control-label" for="yolov7-tiny" selected>YOLOv7-tiny 
                          <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Proses lebih cepat namun akurasi pendeteksian kurang akurat">
                            <button class="btn rounded-circle py-0 px-2" style="pointer-events: none;" type="button" disabled>?</button>
                          </span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <p>
                    <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#advancedOption" aria-expanded="false" aria-controls="advancedOption">
                        Buka Opsi Tambahan
                    </button>
                </p>
            </div>
            <div class="form-group">
                <div class="collapse" id="advancedOption">
                    <div class="card">
                        <div class="card-header">Opsi Tambahan</div>
                        <div class="card-body">
                            <div class="form-group row">
                                <label class="col-md-5 col-lg-3" for="objectDetection">Object yang dihindari:
                                  <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Objek yang akan dihindari oleh subtitle">
                                    <button class="btn rounded-circle py-0 px-2" style="pointer-events: none;" type="button" disabled>?</button>
                                  </span>
                                </label>
                                <div class="col-md-7 col-lg-9">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="objectFace" name="objectDetection" value="0" checked>
                                        <label class="custom-control-label" for="objectFace">Wajah</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="objectText" name="objectDetection" value="1" checked>
                                        <label class="custom-control-label" for="objectText">Text</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-5 col-lg-3" for="subtitlePosition">Posisi Subtitle:
                                  <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Posisi default dimana subtitle akan ditempatkan">
                                    <button class="btn rounded-circle py-0 px-2" style="pointer-events: none;" type="button" disabled>?</button>
                                  </span>
                                </label>
                                <div class="col-md-7 col-lg-9">
                                    <select class="custom-select" name="subtitlePosition" id="subtitlePosition">
                                        <option value="0">Tengah Atas</option>
                                        <option value="1" selected>Tengah Bawah</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-5 col-lg-3" for="fontColor">Warna Font:</label>
                                <div class="col-md-7 col-lg-9">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">#</span>
                                        </div>
                                        <input class="form-control col-11" type="text" name="fontColorText" id="fontColorText" value="ffffff">
                                        <input class="form-control col-1" type="color" name="fontColor" id="fontColor" value="#ffffff">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-5 col-lg-3" for="transparency">Transparansi Background:
                                  <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Warna background dari subtitle saat tidak ada posisi kosong dalam video untuk ditempati subtitle">
                                    <button class="btn rounded-circle py-0 px-2" style="pointer-events: none;" type="button" disabled>?</button>
                                  </span>
                                </label>
                                <div class="col-md-7 col-lg-9 input-group">
                                    <input class="form-control" type="number" name="transparency" id="transparency" min="0" max="100" value="100">
                                    <div class="input-group-append">
                                        <label class="input-group-text">%</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <div class="form-group row justify-content-end">
                <div class="col-auto">
                    <input class="btn btn-primary m-2 py-2 px-3" type="submit" value="Unggah">
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}

{% block script %}
<script>
    function isHexColor(value) {
        return /^#[0-9A-Fa-f]{6}$/i.test(value);
    }
    $(document).ready(function() {
        $("#fontColor").change(function() {
            var selectedColor = $("#fontColor").val();
            $("#fontColorText").val(selectedColor.replace("#", ""));
        });
        $("#fontColorText").on("input", function() {
            var hexValue = "#" +  $(this).val();
            if (!isHexColor(hexValue)) {
                hexValue = "#ffffff";
            }
            $("#fontColor").val(hexValue);
        });
    });

</script>
{% endblock script %}